#trackFont {
    font-style: italic;
    font-size: 30px;
    font-family: 'Shrikhand', cursive;
    text-align: center;
    color: dimgrey;
}

#artistPosition {
    text-align: center;
}

.page {
    min-height: 100vh;
}

.jumbotron {
    margin-top: 20px;
}

#instructions {
    color: red;
}

#artistName {
    color: blue;
}