/*********************INTRO************************/

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}


/**************************FRONTEND**************************/

.frontBody {
    margin: 0;
    padding: 0;
    background: url('/public/img/wallpaper.jpg') no-repeat center fixed;
    -webkit-background-size: cover;
    /* pour anciens Chrome et Safari */
    background-size: cover;
    /* version standardisée */
    font-family: 'Cinzel', serif;
}

.page {
    min-height: 100vh;
}

.jumbotron {
    margin-top: 20px;
}

#trackFont {
    font-style: italic;
    font-size: 30px;
    font-family: 'Shrikhand', cursive;
    text-align: center;
    color: dimgrey;
}

#artistPosition {
    text-align: center;
}

#instructions {
    color: black;
    font-weight: bold;
}

.adminBody {
    margin: 0;
    padding: 0;
    background: url('/public/img/newyork.jpg') no-repeat center fixed;
    -webkit-background-size: cover;
    /* pour anciens Chrome et Safari */
    background-size: cover;
    /* version standardisée */
    font-family: 'Montserrat', sans-serif;
}